@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cute+Font&family=Do+Hyeon&family=Gaegu:wght@700&family=Gugi&family=Hahmlet:wght@300&family=IBM+Plex+Sans+KR:wght@500&family=Inspiration&family=Koulen&family=Lora&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@500&family=Pinyon+Script&family=Single+Day&display=swap');


body{
    font-family: 'IBM Plex Sans KR';
    background-color: black;
    margin: 0;
}

section{
    background-color: #212121;
    width :100%;
    height: 90%;
}
/* 게시판 글쓰기(board_form.php) */
#big_board_box #board_box #board_title{
    margin: 0;
} 

#board_box h3{
    margin: 0;
}

#board_box {width :100%; margin-top: 100px;;
    color: white;}
#board_box h3 {padding: 10px; border-bottom: solid 2px #ffc400; font-size: 20px; }
#board_form{
    list-style: none;
}
#board_form span { display: inline-block; }
#board_form .col1 { width: 150px; }
#board_form li {padding: 12px; border-bottom: solid 1px #dddddd;
}
#board_form input { width: 500px; height: 25px; }
#board_form textarea { width: 500px;	height: 150px; }
#board_form #text_area {	position: relative;	height: 158px; }
#board_form #text_area .col1 { position: absolute; top: 10px; }
#board_form #text_area .col2 { position: absolute; left: 166px; }
#board_box .buttons { text-align: right; margin: 20px 0 40px 0; }
#board_box .buttons li { display: inline; }
#board_box .buttons button { padding: 5px 10px; cursor: pointer; }
#board_box .buttons button{
    background-color: #ffc400;
    color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#board_box .buttons button:hover{
    color: #ffc400;
    background-color: white;
}
/* 게시판 목록보기(board_list.php) */
#board_box #board_list{
    list-style: none;
}
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd;
}
#board_list li a{
    text-decoration: none;
}
#board_list span { display: inline-block; text-align: center;}
#board_list .col1 { width: 80px; }
#board_list .col2 { width: 300px; text-align: left;}
#board_list .col2 a{   
    color: white;
}
#board_list .col3 { width: 100px; }
#board_list .col4 { width: 40px; }
#board_list .col5 { width: 180px; }
#board_list .col6 { width: 40px; }
#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }
/* 게시판 내용보기(board_view.php) */
#board_box { width: 800px; margin: 0 auto; }
#board_box .title { margin-top: 30px; padding: 10px; border-bottom: solid 2px #516e7f; font-size: 20px; }
#view_content li:nth-child(1) {	list-style: none; padding: 15px; border-bottom: solid 1px #aaaaaa; }
#view_content .col2 { float: right; }
#view_content li:nth-child(2) {	list-style: none; padding: 15px 15px 80px 15px; border-bottom: solid 1px #cccccc; }
#view_content li:nth-child(3) button { padding: 5px 20px; margin: 15px 0 40px 720px; cursor: pointer; }

