@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cute+Font&family=Do+Hyeon&family=Gaegu:wght@700&family=Gugi&family=Hahmlet:wght@300&family=IBM+Plex+Sans+KR:wght@500&family=Inspiration&family=Koulen&family=Lora&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@500&family=Pinyon+Script&family=Single+Day&display=swap');
body{
    font-family: 'IBM Plex Sans KR';
}

.navbar #top{
    margin:auto;
}

section{
    height: 67%;
}

#login_box { width: 27.8%;}
#login_title { margin: 0; padding-bottom: 5px;	border-bottom: solid 2px #ffc400; }
#login_title span {	font-size: 20px; font-weight: bold; color: white;}
#login_form { margin-top: 20px;}
#login_form li { width: 100%;}
#login_form input {	width: 100%; height: 47px;}
#login_form #login_btn button{ margin-top: 15px; margin-bottom: 50px; width: 437px; height: 47px; background-color: #ffc400; color: white;
font-family: 'IBM Plex Sans KR';}