@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cute+Font&family=Do+Hyeon&family=Gaegu:wght@700&family=Gugi&family=Hahmlet:wght@300&family=IBM+Plex+Sans+KR:wght@500&family=Inspiration&family=Koulen&family=Lora&family=Nanum+Gothic+Coding:wght@400;700&family=Noto+Sans+KR:wght@500&family=Pinyon+Script&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'IBM Plex Sans KR';
    /*font-size: 14px;*/
    margin: 8px;
    height: 100vh;
    color: #474747;
    background-color: #e0e0e0;;
}
/*
*{-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/
/*a { text-decoration:none; color: white;}*/
li {
    list-style-type: none;
}
#contents {
    width: 100%;
    background-color: #e0e0e0;;
}

/*서브 메뉴 CSS (사용 중단)*/
/*
#sub_menu {
    width: 150px;
    float: right;
    margin-top: 75px;
    margin-right: 150px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: solid 1px white;
}
#sub_menu li {
    font-family: "Typo_SsangmunDong";
    font-size: 20pt;
    text-align: center;
    padding: 10px;
}
#selected{
    background-color: rgb(56, 56, 56);
    color: white;
    border-radius: 15px;
}
*/
th, td {
    width: 80px;
    height: 30px;
    padding: 6px;
    border-bottom: solid 1px #474747;
    text-align: center;
    word-break: break-all;
}
table {
    table-layout: fixed;
    width: 100%;
    min-width: 1200px;
    margin-top: 25px;
    margin-bottom: 200px;
    /*
    border-top: solid #ffc400;
    border-bottom: solid #ffc400;
    */
    border-collapse: collapse;
    font-family: 'GongGothicLight';
    border-left: none;
    border-right: none;
    color: #474747;
    display: flex;
    justify-content: center;
}
.team{
    text-align: left; 
    width: 250px;
}
.t   { text-align: left; }
.logo{ text-align: left; }
.seq { text-align: center; }
.point{ 
    font-weight: bold;
    color:crimson;
}
#season{
    font-size: 30px;
    margin-top: 25px;
    color: #474747;
    font-family: 'KOHIBaeumOTF';
    text-align: center;
    border-top: 0px;
    border-bottom: 0px;
}
.head{
    border-top: 0px;
    border-bottom: 0px;
}
.tail { 
    padding-right: 50px;
    text-align: right;
    border-bottom: 0px;
}
tbody {
    border-radius: 50px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    margin-top: 25px; 
    margin-bottom: 25px; 
    padding: 0 30px 0 30px;
}
@media screen and (max-width:768px) {
    table{
        overflow-x: auto;
    }
    tr {
        position: relative;
    }
    th {
        position: relative;
    }
}